@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-semi-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    margin: 0;
    --accent-color: #FFEA2E;
}

.container {
    max-width: 1116px;
    margin: 0 auto;
}

.intro {
    background-image: url(img/intro-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 122px;
}

.top-bar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    margin-bottom: 28px;
}

.is-pinned {
    background-color: #F4F4F4;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 28px;
    background-color: white;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-link {
    color: #848484;
    cursor: pointer;
}

.nav-link:hover {
    color: #626262;
}

.nav-link_dark {
    color: #000;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 11px 6px;
    background-color: #fff;
    border-radius: 21px;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main-header-main {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-header-contacts {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* .socials {
    display: fle;
} */

.social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.tg {
    background-color: #559FD6;
}

.wp {
    background-color: #65CD74;
}

.vb {
    background-color: #665DA3;
}

.number {
    font-size: 20px;
}

.callback-btn {
    display: block;
    padding: 0;

    color: #0F6FFF;
    font-size: 10px;
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 4px;
}

.intro-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/car.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.intro-heading {
    font-size: 48px;
    line-height: 109.5%;
    letter-spacing: -2%;
}

.accent {
    background-color: var(--accent-color);
}

.intro-main-text {
    max-width: 55%;
    font-size: 24px;
    color: #454545;
}

.features-list {
    max-width: 63%;
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 18px;
}

.features-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;;
    border-radius: 20px;
    background-color: var(--accent-color);
}

.features-heading {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
}

.features-text {
    font-size: 14px;
    color: #7C7C7C;
    line-height: 140%;
}

.request {
    max-width: 35%;
    padding: 47px 32px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    border-top: 12px solid #FFDD2C;
    border-bottom: 12px solid #FFDD2C;
}

.request-heading {
    margin: 0;
    margin-bottom: 8px;
    font-size: 28px;
}

.request-text {
    color: #7C7C7C;
    line-height: 140%;
}

.request-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-wrapper {
    padding: 22px;
    background-color: #F4F4F4;
    border-radius: 24px;
}
.request-form-input {
    border: none;
    outline: none;
    background-color: #F4F4F4;
}

.request-form-input::placeholder {
    font-size: 16px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.name-wrapper::before {
    vertical-align: middle;
    content: url(img/user.svg);
}

.phone-wrapper::before {
    vertical-align: middle;
    content: url(img/phone.svg);
}

.btn {
    padding: 23px 62px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    background-color: #FFDD2C;
}

.request-remark {
    text-align: start;
    margin-top: 24px;
    font-size: 10px;
    color: #6F6F6F;
}

.important {
    color: #0C0C0C;
}
